A dataset is considered “cleaned” if you do things like:

-->Handle missing values (drop or fill them)

-->Fix column names

-->Remove duplicates

-->Change data types

-->Filter incorrect or irrelevant rows

In [4]:
#Importing required library
import pandas as pd

In [5]:
#reading file
df = pd.read_csv("cumulative.csv", index_col=0)

In [6]:
#top values of dataset
df.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
rowid,,,,,,,,,,,,,,,,,,,,,
1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,...,-176.0,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,...,-174.0,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509

In [7]:
#info regaeding dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9564 entries, 1 to 9564
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   kepid              9564 non-null   int64
 1   kepoi_name         9564 non-null   object
 2   kepler_name        2294 non-null   object
 3   koi_disposition    9564 non-null   object
 4   koi_pdisposition   9564 non-null   object
 5   koi_score          8054 non-null   float64
 6   koi_fpflag_nt      9564 non-null   int64
 7   koi_fpflag_ss      9564 non-null   int64
 8   koi_fpflag_co      9564 non-null   int64
 9   koi_fpflag_ec      9564 non-null   int64
 10  koi_period         9564 non-null   float64
 11  koi_period_err1    9110 non-null   float64
 12  koi_period_err2    9110 non-null   float64
 13  koi_time0bk        9564 non-null   float64
 14  koi_time0bk_err1   9110 non-null   float64
 15  koi_time0bk_err2   9110 non-null   float64
 16  koi_impact         9201 non-null   float64
 17  koi_impact_err1    9110 non-null   float64
 18  koi_impact_err2    9110 non-null   float64
 19  koi_duration       9564 non-null   float64
 20  koi_duration_err1  9110 non-null   float64
 21  koi_duration_err2  9110 non-null   float64
 22  koi_depth          9201 non-null   float64
 23  koi_depth_err1     9110 non-null   float64
 24  koi_depth_err2     9110 non-null   float64
 25  koi_prad           9201 non-null   float64
 26  koi_prad_err1      9201 non-null   float64
 27  koi_prad_err2      9201 non-null   float64
 28  koi_teq            9201 non-null   float64
 29  koi_teq_err1       0 non-null      float64
 30  koi_teq_err2       0 non-null      float64
 31  koi_insol          9243 non-null   float64
 32  koi_insol_err1     9243 non-null   float64
 33  koi_insol_err2     9243 non-null   float64
 34  koi_model_snr      9201 non-null   float64
 35  koi_tce_plnt_num   9218 non-null   float64
 36  koi_tce_delivname  9218 non-null   object
 37  koi_steff          9201 non-null   float64
 38  koi_steff_err1     9096 non-null   float64
 39  koi_steff_err2     9081 non-null   float64
 40  koi_slogg          9201 non-null   float64
 41  koi_slogg_err1     9096 non-null   float64
 42  koi_slogg_err2     9096 non-null   float64
 43  koi_srad           9201 non-null   float64
 44  koi_srad_err1      9096 non-null   float64
 45  koi_srad_err2      9096 non-null   float64
 46  ra                 9564 non-null   float64
 47  dec                9564 non-null   float64
 48  koi_kepmag         9563 non-null   float64
dtypes: float64(39), int64(5), object(5)
memory usage: 3.6+ MB

In [ ]:
#Check Missing Values
df.isnull().sum().sort_values(ascending=False).head(15)

koi_teq_err1        9564
koi_teq_err2        9564
kepler_name         7270
koi_score           1510
koi_steff_err2       483
koi_srad_err1        468
koi_steff_err1       468
koi_slogg_err2       468
koi_slogg_err1       468
koi_srad_err2        468
koi_time0bk_err1     454
koi_period_err1      454
koi_period_err2      454
koi_time0bk_err2     454
koi_impact_err1      454
dtype: int64

In [14]:
#Drop columns with too many missing values
#Keeping columns with at least 70% filled
threshold = len(df) * 0.7
df = df.dropna(axis=1, thresh=threshold)

In [16]:
#Check Remaning Missing Values
df.isnull().sum().sort_values(ascending=False).head(15)

koi_score            1510
koi_steff_err2        483
koi_slogg_err2        468
koi_srad_err1         468
koi_slogg_err1        468
koi_steff_err1        468
koi_srad_err2         468
koi_time0bk_err2      454
koi_impact_err1       454
koi_period_err2       454
koi_time0bk_err1      454
koi_period_err1       454
koi_depth_err1        454
koi_duration_err2     454
koi_depth_err2        454
dtype: int64

In [21]:
#dropping irrelevant ID columns
columns_to_drop = [
    "kepid",
    "kepoi_name",
    "kepler_name"
]

df = df.drop(columns=[c for c in columns_to_drop if c in df.columns])

In [22]:
#Fill missing values with median
numeric_cols = df.select_dtypes(include="number").columns
df.loc[:,numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

In [23]:
#Droping duplicates
df.loc[:, numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

In [24]:
#final verification
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9564 entries, 1 to 9564
Data columns (total 44 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   koi_disposition    9564 non-null   object
 1   koi_pdisposition   9564 non-null   object
 2   koi_score          9564 non-null   float64
 3   koi_fpflag_nt      9564 non-null   int64
 4   koi_fpflag_ss      9564 non-null   int64
 5   koi_fpflag_co      9564 non-null   int64
 6   koi_fpflag_ec      9564 non-null   int64
 7   koi_period         9564 non-null   float64
 8   koi_period_err1    9564 non-null   float64
 9   koi_period_err2    9564 non-null   float64
 10  koi_time0bk        9564 non-null   float64
 11  koi_time0bk_err1   9564 non-null   float64
 12  koi_time0bk_err2   9564 non-null   float64
 13  koi_impact         9564 non-null   float64
 14  koi_impact_err1    9564 non-null   float64
 15  koi_impact_err2    9564 non-null   float64
 16  koi_duration       9564 non-null   float64
 17  koi_duration_err1  9564 non-null   float64
 18  koi_duration_err2  9564 non-null   float64
 19  koi_depth          9564 non-null   float64
 20  koi_depth_err1     9564 non-null   float64
 21  koi_depth_err2     9564 non-null   float64
 22  koi_prad           9564 non-null   float64
 23  koi_prad_err1      9564 non-null   float64
 24  koi_prad_err2      9564 non-null   float64
 25  koi_teq            9564 non-null   float64
 26  koi_insol          9564 non-null   float64
 27  koi_insol_err1     9564 non-null   float64
 28  koi_insol_err2     9564 non-null   float64
 29  koi_model_snr      9564 non-null   float64
 30  koi_tce_plnt_num   9564 non-null   float64
 31  koi_tce_delivname  9218 non-null   object
 32  koi_steff          9564 non-null   float64
 33  koi_steff_err1     9564 non-null   float64
 34  koi_steff_err2     9564 non-null   float64
 35  koi_slogg          9564 non-null   float64
 36  koi_slogg_err1     9564 non-null   float64
 37  koi_slogg_err2     9564 non-null   float64
 38  koi_srad           9564 non-null   float64
 39  koi_srad_err1      9564 non-null   float64
 40  koi_srad_err2      9564 non-null   float64
 41  ra                 9564 non-null   float64
 42  dec                9564 non-null   float64
 43  koi_kepmag         9564 non-null   float64
dtypes: float64(37), int64(4), object(3)
memory usage: 3.3+ MB

In [25]:
#save cleaned dataset
df.to_csv("cleaned_cumulative.csv", index=False)